.uploader{data: {'album-id' => @album_id }}
  = render partial: 'upload/toolbar'

  .drop-area
    %span Drop your photo or video files here

  %table.files-for-upload.table.table-bordered
    %thead
      %tr
        %th.select
          %div
            %input#select-all{type: 'checkbox', checked: 'checked'}
            %label{for: 'select-all'}
        %th.name{colspan: 3} Files For Upload
    %tbody