%ul.nav.nav-list
  %li.nav-header
    Albums
    %button.btn.btn-link.new-album{data: {href: new_album_path, toggle: 'open-modal', success: 'reloadAlbums'}}
      %i.icon-plus-sign
  - if @albums.present?
    = render partial: 'albums/album', collection: @albums
  - else
    .alert.alert-info.center-text No albums.
