.btn-toolbar
  .btn-group
    %button.upload-photos-and-videos.btn.btn-primary{data: {toggle: 'load', href: uploader_path(album_id: params[:album_id], referer: request.fullpath), target: '.main', success: 'uploaderOpen'}} Upload Photos or Videos

  .type-filter.btn-group.pull-right
    %button.btn.dropdown-toggle{data: {toggle: 'dropdown'}}
      = MediaItemsHelper::TYPE_FILTERS_MENU[params[:type_filter] ? params[:type_filter].to_sym : :all]
      %span.caret
    %ul.dropdown-menu
      - MediaItemsHelper::TYPE_FILTERS_MENU.each do |k, v|
        %li{data: {toggle: 'load', href: url_for(age_filter: params[:age_filter], type_filter: k), target: '.main'}}
          %a{href: 'javascript:void(0)'}= v
        - if k == :all
          %li.divider

  .age-filter.btn-group.pull-right
    %button.btn.dropdown-toggle{data: {toggle: 'dropdown'}}
      = MediaItemsHelper::AGE_FILTERS_MENU[params[:age_filter] ? params[:age_filter].to_sym : :all]
      %span.caret
    %ul.dropdown-menu
      - MediaItemsHelper::AGE_FILTERS_MENU.each do |k, v|
        %li{data: {toggle: 'load', href: url_for(age_filter: k, type_filter: params[:type_filter]), target: '.main'}}
          %a{href: 'javascript:void(0)'}= v
        - if k == :all
          %li.divider
