.items
  = render partial: 'media_items/toolbar'

  - if @media_items.present?
    %ul.thumbnails
      = render partial: 'media_items/media_item', collection: @media_items

  - else
    .alert.alert-info.center-text No photos or videos.