%ul.nav.nav-list
  %li.nav-header
    Albums
    %button.btn.btn-link.new-album{data: {href: new_album_path, toggle: 'open-modal', success: 'reloadAlbums'}}
      %i.icon-plus-sign
  = render partial: 'album', collection: @albums
