.row-fluid
  .span2.sidebar
    %ul.nav.nav-list
      %li.all-photos-and-videos.select-items-scope{data: {toggle: 'load', href: media_items_path(age_filter: :today), target: '.main', success: 'selectItemScope'} }
        %a{href: 'javascript:void(0)'}
          All Photos & Videos
    .albums
      = render template: 'albums/index'

  .span10.main

- content_for :stylesheet do
  = stylesheet_link_tag 'fancybox2/jquery.fancybox', 'fancybox2/helpers/jquery.fancybox-buttons', 'fancybox2/helpers/jquery.fancybox-thumbs', media: 'all'

- content_for :javascript do
  = javascript_include_tag 'fancybox2/jquery.fancybox', 'fancybox2/helpers/jquery.fancybox-buttons', 'fancybox2/helpers/jquery.fancybox-thumbs'

  :coffeescript
    window.reloadAlbums = ->
      $('.albums').load('#{albums_path}')

    window.selectItemScope = (currentElement) ->
      $('.select-items-scope').removeClass('active')
      currentElement.addClass('active')

    window.uploaderOpen = ->
      window.uploader = new Uploader()

    $ ->
      $('.all-photos-and-videos').click()

      $('.main').on 'content-loaded', ->
        if window.uploader
          window.uploader.dispose()
          window.uploader = null

      $(".thumbnail").fancybox
        prevEffect: 'none'
        nextEffect: 'none'
        playSpeed: 4000
        helpers:
          thumbs:
            width: 100
            height: 75
          overlay:
            css:
              background: 'rgba(0, 0, 0, 0.9)'
          buttons:
            skipSingle: true