.row-fluid
  .span2.sidebar
    %ul.nav.nav-list
      %li.all-photos-and-videos.select-items-scope{data: {toggle: 'load', href: items_path, target: '.main', success: 'selectItemScope'} }
        %a
          All Photos & Videos
    .albums
      = render template: 'albums/index'

  .span10.main

- content_for :javascript do
  :coffeescript
    window.reloadAlbums = ->
      $('.albums').load('#{albums_path}')

    window.selectItemScope = (currentElement) ->
      $('.select-items-scope').removeClass('active')
      currentElement.addClass('active')

    window.uploaderOpen = ->
      window.uploader = new Uploader()

    $ ->
      $('.all-photos-and-videos').click()

      $('.main').on 'content-loaded', ->
        if window.uploader
          window.uploader.dispose()
          window.uploader = null